/*
Undo Zen Crosstab CSS damage
*/

.sapUiSizeCompact .DesignStudioSCN .sapMBtnInner * .sapMBtnDefault,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnCustomIcon,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnIcon,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnInner * .sapUiIcon,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnInner * .sapUiIconMirrorInRTL {
    font-size: 2.5rem !important;
    line-height: 1.7rem !important;
}
.sapUiSizeCompact .DesignStudioSCN .sapMBtnInner * .sapMBtnDefault,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnHoverable,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnInner,
.sapUiSizeCompact .DesignStudioSCN .sapMFocusable,
.sapUiSizeCompact .DesignStudioSCN .sapMToggleBtnPressed {
    height: 2rem !important;
}
.sapUiSizeCompact .DesignStudioSCN .sapMBtnIconsapMBtnCustomIcon * .sapMBtnIcon,
.sapUiSizeCompact .DesignStudioSCN .sapUiIcon,
.sapUiSizeCompact .DesignStudioSCN .sapUiIconMirrorInRTL {
    width: 2rem !important;
}

/*
Redo damage for Compact Mode
*/
.sapUiSizeCompact .DesignStudioSCN .sapMBtnInner * .sapMBtnDefault,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnCustomIcon,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnIcon,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnInner * .sapUiIcon,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnInner * .sapUiIconMirrorInRTL {
    font-size: 1rem !important;
    line-height: 1.7rem !important;
}
.sapUiSizeCompact .DesignStudioSCN .sapMBtnInner * .sapMBtnDefault,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnHoverable,
.sapUiSizeCompact .DesignStudioSCN .sapMBtnInner,
.sapUiSizeCompact .DesignStudioSCN .sapMFocusable,
.sapUiSizeCompact .DesignStudioSCN .sapMToggleBtnPressed {
    height: 2rem !important;
}
.sapUiSizeCompact .DesignStudioSCN .sapMBtnIconsapMBtnCustomIcon * .sapMBtnIcon,
.sapUiSizeCompact .DesignStudioSCN .sapUiIcon,
.sapUiSizeCompact .DesignStudioSCN .sapUiIconMirrorInRTL {
    width: 1.5rem !important;
}